/* Style inputs with type="text", select elements and textareas */
input[type=text],input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: none;
    border-radius: 20px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: "Lato Black", sans-serif;

    box-shadow: rgba(0, 0, 0, 0.2) 0 22px 70px 4px;


}

.container label {
    font-size: 20px;
    font-family: "Lato Black", sans-serif;

}

/* Style the submit button with a specific background color etc */
input[type=submit] {

    width: 100%;

    box-shadow: rgba(0, 0, 0, 0.56) 0 22px 70px 4px;

    background: darkorange linear-gradient(to left, rgb(194, 114, 30), rgba(203, 203, 203, 0));
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    transition: all 1s;


}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color : orangered;
    transition: all 1s;


}

/* Add a background color and some padding around the form */
.container {

    /*background-color: #f2f2f2;*/
    padding: 20px;


}