@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {


    background: #3d3535;


    /*background-color: #0dff00;*/
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%234c8e43' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%236aac5f' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%234c8e43' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%236aac5f' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%2389CC7C' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23768c3a' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%2396ac58' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%2396ac58' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23768c3a' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23768c3a' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%2396ac58' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");*/
    min-height: 100vh;
    height: max-content;
}

header {
    /*background: linear-gradient(#45D27D 60%, #fff);*/

    /*background: rgba(0,0,0,0.5);;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    /*background: none;*/

    transition: all 0.5s;
}


header.sticky {
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.5s;
    padding: 10px 100px;

}


header .logo {

    background: white;
    border-radius: 20px;

    padding: 5px;

    /*transform: scale(0.1);*/
}

header.sticky .logo {
    background: none;
    transition: background 0.5s;

}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    font-size: 20px;
    color: white;
    border-radius: 20px;
    transition: all 0.5s;
}

header ul li a:hover,
header ul li a.active {
    background: white;
    color: #266d42;
    transition: all 0.5s;


}


.text {
    /*position: absolute;*/
    color: white;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;

}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;

    color: white;

}

section h1 {
    font-size: 10vh;
    padding: 30px 0;
    transition: all 0.5s;


}

section h1:hover {
    transform: scale(1.05);
    text-shadow: 1px 1px 2px #453d3d, 0 0 1em #19191c, 0 0 0.2em rgba(61, 61, 61, 0.34);
    transition: all 0.5s;
}

section h2 {
    text-align: center;
    font-size: 30px;
}

section .link {
    text-decoration: none;
    padding: 15px 20px;
    margin: 20px 0;
    font-size: 35px;
    border-radius: 20px;

    font-family: "Lato Black", sans-serif;
    background: #06aa41 linear-gradient(to left, #458e31, rgba(0, 0, 0, 0));
    color: white;

    transition: all 1s;

}

section .link:hover {
    background-color: #45D27D;
    color: #eeeeee;
    /*box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;*/
    box-shadow: rgba(0, 0, 0, 0.56) 0 22px 70px 4px;
    transition: all 1s;
}

.project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 30px;
    grid-auto-rows: minmax(10px, auto);
    color: black;
}

.project .link2 {
    white-space: nowrap;
    text-decoration: none;
    padding: 15px 20px;
    margin: 20px 20px;
    font-size: 20px;
    border-radius: 20px;
    white-space: nowrap;
    font-family: "Lato Black", sans-serif;
    background: #06aa41 linear-gradient(to left, #458e31, rgba(0, 0, 0, 0));
    color: white;

    transition: all 1s;
}

.project .link2:hover {
    background-color: #45D27D;
    color: #eeeeee;
    /*box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;*/
    box-shadow: rgba(0, 0, 0, 0.56) 0 22px 70px 4px;
    transition: all 1s;
}


.project .card {
    display: flex;
    border-radius: 30px;
    width: 30vw;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    transition: all 0.5s;

}

.project .card:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.4) 0 22px 70px 4px;
    transition: all 0.5s;


}


.project .card .card-subtitle i {
    margin-right: 15px;
}

.project .card-footer {
    padding: 20px 0;
}

.project .link2 i {
    position: relative;
    /*display: flex;*/
}

.content {
    padding: 0 10vw;

}

.p {
    font-size: 30px;
    color: white;
}

.red {
    background: #c11f1f;
}

.pink {
    background: hotpink;
}

.blue {
    background: blue;
}

.orange {
    background: #ff6400;
}

.light-green {
    background: #28da89;
}

.magenta {
    background: #9b00bd;
}

.spacer {

    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.layer1 {
    aspect-ratio: 900/100;
    background-image: url("img/wave1.svg");
}

.layer2 {
    aspect-ratio: 900/200;
    background-image: url("img/wave2.svg");
}

.layer3 {
    aspect-ratio: 900/200;
    z-index: 2;
    background-image: url("img/wave3.svg");
    /*transform: translateY(-250px);*/
}

.layer4 {
    aspect-ratio: 900/100;
    background-image: url("img/wave4.svg");
}


/*@-webkit-keyframes moveBG { from { transform: rotateX(0deg) } to { transform: rotateX(180deg)  }  }*/
/*@keyframes moveBG { from { transform: rotateX(0deg) } to { transform: rotateX(180deg)  }  }*/

/*.progress-bar {*/
/*    transition: width 5s;*/

/*}*/
.language .progress{
    height : 7vh;
    margin: 5px;
}

.progress-bar  {
    /*max-width: 100%;*/
    /*transition: width 5s;*/
    animation: animateBar 5s forwards;
    font-size: 1.5em;
    white-space: nowrap;


}

.language .card {
    color: black;
    width: 40vw;
    transition: all 0.5s;

}

.language .card:hover {
    width: 45vw;
    box-shadow: rgba(0, 0, 0, 0.4) 0 22px 70px 4px;
    transition: all 0.5s;
}

@keyframes animateBar {
    from {
        max-width: 0%;
    }

    to {
        max-width: 100%;
    }
}

footer {
    /*background: linear-gradient(#45D27D 60%, #fff);*/

    /*background: rgba(0,0,0,0.5);;*/
    /*position: fixed;*/
    /*bottom: 0;*/
    /*left: 0;*/
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    /*background: none;*/

    transition: all 0.5s;
}

footer .logo {

    background: white;
    border-radius: 20px;

    padding: 5px;

    /*transform: scale(0.1);*/
}

footer.sticky .logo {
    background: none;
    transition: background 0.5s;

}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul li {
    list-style: none;
    margin-left: 20px;
}

footer ul li i {
    /*text-decoration: none;*/
    padding: 6px 15px;
    /*font-size: 20px;*/
    color: white;
    /*border-radius: 20px;*/
}

footer ul li i:hover {
    /*background: white;*/
    color: #266d42;
}
